/data
/output
/renv
.env
/attic
.Rproj.user
*.Rproj
*.RData
*.Rhistory
*.Rprofile
*__pycache__*
.DS_Store
/.venv


# Exclude all models directories except transformer_hpt_study
models/*
!models/transformer_hpt_study/